.summary-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  box-shadow: 0px 4px 16px 0px #616e7c;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.summary-heading {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 3px;
}

.summary-span {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 900;
}

.summary-description {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
}

.popup-container {
  width: 100%;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  height: 60vh;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .payment-container {
    height: 80vh;
    padding: 40px;
  }
}

.popup-close-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
}

.payment-success-heading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.payment-success-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .payment-success-heading {
    font-size: 32px;
  }
}

.payment-methods-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .payment-heading {
    font-size: 32px;
  }
}

.payment-input-label-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .payment-input-label-container {
    margin-top: 20px;
  }
}

.payment-input {
  margin-right: 10px;
}

.payment-label {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .payment-label {
    font-size: 20px;
  }
}

.payment-confirm-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  align-self: center;
}
